<section data-ng-controller="ReservationsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Reservations</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="reservation in reservations" data-ng-href="#!/reservations/{{reservation._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="reservation.created | date:'medium'"></span>
				by
				<span data-ng-bind="reservation.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="reservation.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!reservations.$resolved || reservations.length">
    	No Reservations yet, why don't you <a href="/#!/reservations/create">create one</a>?
    </div>
</section>